/*
Colors used:
Primary Color (white): #ffffff;
Secondary Color (Gray): #4a4a4a;
*/
* {
  box-sizing: border-box;
}
header {
  background-color: #e5edf8;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0px 5px 8px 0px rgba(48, 50, 50, 0.43);
  position: fixed;
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
  width: 100%;
}
main {
  padding-top: 100px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 100%;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #4a4a4a;
}
a:visited {
  /* visited link */
  color: #386cfc;
  font-weight: 700;
}
a:hover {
  color: #cc6540;
}
a:active {
  /* selected link */
  color: #080053;
  font-weight: 700;
}
head {
  font-family: "Montserrat", sans-serif;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}
h1, 
h2,
h3,
h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color: #386cfc;
  text-decoration: none; /* No underlining */
}
a:visited {
  /* visited link */
  color: #386cfc;
}
a:hover {
  color: #cc6540;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active {
  /* selected link */
  color: #994c30;
}
a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}
a.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #e5edf8;
  color: #4e4e4e; /* needed to override the default link color */
  margin: 0px 160px; 
  font-weight: 400;
  padding: 6px;
  border-radius: 3px;
  box-shadow: 0px 5px 10px 0px rgba(48, 50, 50, 0.43);
  transition: 0.2s opacity;
}
a.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  background-color: #c5c5c5;
  color: #ffffff;
}
a.button.contact {
  background-color: transparent;
  color: #386cfc;
  text-transform: lowercase;
  border: 1px solid #386cfc;
}
a.button.contact:hover {
  background-color: #c5c5c5;
  color: #ffffff;
}

/* Layout styling */
  .container {
    padding: 0 15px;
  }
  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }
  #hero h1 {
    text-align: center; /* Centers text */
  }
#hero h4 {
  text-align: center; /* Centers text */
}
#hero {
  background-color: #e5edf8;
  padding: 0px 0;
  display: inline-block;
  width: 100%;
}
#work h2 {
  margin: 20px 160px; 
}
#work h3 {
  margin: 20px 160px; 
}
#work p {
  margin: 20px 160px; 
}
.diamas-mockup {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
.hive-mockup {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
#work {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
#about h1 {
  text-align: center;  
}
#about {
  padding-top: 15px;
}
#about {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
.profile {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 5px 8px 0px rgba(48, 50, 50, 0.43);
}
#mystory {
  width: 40%;
  padding: 10px;
  float: left;
  text-align: left;
  margin-right: 200px;
  margin-left: 200px;
}
#skills > {
  width: 40%;
  padding: 10px;
  list-style-type: none;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
footer {
  background-color: #e5edf8;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
  width: 100%;
}
#diamas {
  padding-top: 15px;
}
#diamas h1 {
  text-align: center;  
}
#diamas h3 {
  text-align: center; 
}
#diamas {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
.diamas-photo {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#diamas-intro {
  padding-top: 15px;
}
#diamas-intro {
  background-color: #ffffff;
  padding: 20px 0;
  margin-right: 200px;
  margin-left: 200px;
  float: left;
  width: 80%;
  text-align: left;  
}
.introduction-diamas > li {
  font-weight: 600;
}
#hive {
  padding-top: 15px;
}
#hive h1 {
  text-align: center;  
}
#hive h3 {
  text-align: center; 
}
#hive {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
.hive-photo {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#hive-intro {
  padding-top: 15px;
}
#hive-intro {
  background-color: #ffffff;
  padding: 20px 0;
  margin-right: 200px;
  margin-left: 200px;
  float: left;
  width: 80%;
  text-align: left;  
}
.introduction-hive > li {
  font-weight: 600;
}
