/*
Colors used:
Primary Color (white): #ffffff;
Secondary Color (Gray): #4a4a4a;
*/
* {
  box-sizing: border-box;
}
header {
  background-color: #e5edf8;
  padding: 10px 0;
  box-shadow: 0 5px 8px 0 rgba(48, 50, 50, 0.43);
  position: fixed;
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
  width: 100%;
  text-align: center;
}

.col-md-4 {
  width: 33%;
}

.col-md-6 {
  width: 50%;
}

.col-lg-4 {
  width: 33%;
}

.col-lg-5 {
  width: 41.66%;
}

.col-lg-6 {
  width: 50%;
}
.col-lg-7 {
  width: 58.33%
}

.title {
  font-size: 1.625em;
  font-weight: 400;
  color: #4a4a4a;
  font-family: Montserrat;
}
main {
  padding-top: 99px;
  max-width: 100%;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 100%;
  
}
nav > ul > li {
  display: inline-block;

}
nav > ul > li > a {
  padding: 0px 15px;
  text-transform: uppercase;
  font-weight: 400; 
}
head {
  font-family: "Montserrat", sans-serif;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  font-size: 18px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}
h1, 
h2,
h3,
h4 {
  line-height: 1.4;
  font-family: Montserrat;
}
h1 {
  font-size: 2.75em;
  font-weight: 800;
 }

h2 {
  font-size: 2.25em;
  font-weight: 600;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%; 
  height: auto;
}

svg {
  width: 100%; 
  height: auto;
}

a {
  color: #4a4a4a;
  text-decoration: none; /* No underlining */
  transition: 0.8s opacity;
}
a:visited {
  /* visited link */
  color: #4a4a4a;
}
a:hover {
  color: #386cfc;
  text-decoration: underline; /* Underlining when hovering over a link */
  opacity: 0.8;
}
a:active {
  /* selected link */
  color: #993030;
}
a:hover,
a:focus {
  color: #386cfc;
  text-decoration: underline;
}
a.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #e5edf8;
  color: #4e4e4e; /* needed to override the default link color */
  margin: auto;
  font-weight: 400;
  padding: 10px 30px 10px 30px;
  border-radius: 3px;
  box-shadow: 0px 5px 10px 0px rgba(48, 50, 50, 0.43);
  transition: 0.8s opacity;
}
a.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  background-color: #c5c5c5;
  color: #ffffff;
}
a.button.contact {
  background-color: #4a4a4a;
  color: #fff;
  text-transform: lowercase;
  padding: 10px 30px 10px 30px;
  transition: 0.8s opacity;

  }
a.button.contact:hover {
  background-color: #c5c5c5;
  color: #252525;
  opacity: 0.8;
  text-decoration: none;
}

/* Layout styling */
  .container {
    padding: 0 15px;
    width: 100%;
  }
  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  #hero h1 {
    text-align: center; /* Centers text */
    display: inline-block;
    font-weight: 600;
    width: 100%;
   
  }
  #hero h4 {
  text-align: center; /* Centers text */
}
  #hero {
  background-color: #e5edf8;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  
}
#hero span {
  display: inline-block;
}
#work h2 {
  margin: 20px 160px; 
  text-align: center;
}

.hive-mockup {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
#work {
  background-color: #ffffff;
  padding: 40px 0;
  display: inline-block;
  width: 100%;
}

#about {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  position: relative;
  }

#about h1 {
  text-align: center;  
  }
#about h2 {
  text-align: center;  
 }
#mystory h2 {
  text-align: center;
  margin: 0 auto; 
}

.profile {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

#skills {
  margin: 0 auto;
  padding: 20px 0;
  display: inline-block;
  width: 100%; 
  width: 100%;
  
}


#skills h2 {
  text-align: center;
  margin: 0 auto; 
}
#diamas {
  padding-top: 15px;
}
#diamas h1 {
  text-align: center;  
}
#diamas h3 {
  text-align: center; 
}
#diamas {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
.diamas-photo {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#diamas-intro {
  padding-top: 15px;
}
#diamas-intro {
  background-color: #ffffff;
  padding: 20px 0;
  margin-right: 200px;
  margin-left: 200px;
  float: left;
  width: 80%;
  text-align: left;  
}
.introduction-diamas > li {
  font-weight: 600;
}
#hive {
  padding-top: 15px;
}
#hive h1 {
  text-align: center;  
}
#hive h3 {
  text-align: center; 
}
#hive {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
.hive-photo {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#hive-intro {
  padding-top: 15px;
}
#hive-intro {
  background-color: #ffffff;
  padding: 20px 0;
  margin-right: 200px;
  margin-left: 200px;
  float: left;
  width: 80%;
  text-align: left;  
}
.introduction-hive > li {
  font-weight: 600;
}
footer {
  background-color: #e5edf8;
  text-align: center;
  padding: 10px 0;
  position: relative  ;
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
  width: 100%;
}
.fab {
  color: #4a4a4a;
  transition: 0.5s opacity;
   width: 100%;
  position: relative;
  }
  .fab:visited {
    color: #386cfc;
  }
  .fab:hover {
    color: #386cfc; 
    opacity: 0.8;  
  }
  .fab:active {
    color: #383737;
  }

.social-links {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-53%, -50%);
  width: 100%;
}
.social-links li {
  list-style: none;
  padding:50px 0px 0px 50px;
  margin: 5px;
  display: inline-block;
  position: relative;
  font-size: 30px;
  color: #fff;
  width: 100%;

}


.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-move-reverse {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 30s cloud-move-reverse infinite alternate linear;
}
@keyframes cloud-back {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

/* Start of animation 2 */
#Sailboats {
  animation: 5s move-change infinite alternate linear;
}

@keyframes move-change {
  from {transform: translate(-5,10px);}
  to {transform: translate(20px,10px);}
}
#Cloud {
  animation: 30s move-clouds infinite alternate linear;
 }

@keyframes move-clouds {
  from {transform: translate(0,20px);}
  to {transform: translate(280px,10px);}
}

#Cloud-2 {
  animation: 20s move-clouds infinite alternate linear;
}

@keyframes move-clouds {
  from {transform: translate(0,10px);}
  to {transform: translate(100px,20px);}
}
#Sun-2 {
  animation: 20s color-change infinite alternate linear;
}
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.cls-11 {
  animation: 5s tower infinite alternate linear;
}
@keyframes tower {
  0% {fill: #f86019;}
  50% {fill: #f8fd6d;}
  100% {fill: #1814f7;}
}

/* Start of animation 3 */

#globe {
  animation: 20s full-spin infinite linear;
  transform-origin: center;
  transform-box: fill-box; 
}
@keyframes full-spin {
  0% { transform: rotate(10deg); }
  100% { transform: rotate(-359deg); }
}

#music {
  animation: 2s zoom infinite;
  transform-origin: center;
  transform-box: fill-box;
  }
@keyframes zoom {
  0% { transform: scale(0.6); }
  50% { transform: scale(0.8); }
  100% { transform: scale(0.6); }
  }

#outdoors {
  animation: 2s wiggle infinite ease;
}
@keyframes wiggle {
  0% { transform: translate(0, 0); }
  50% { transform: translate(6px, 6px); }
  100% { transform: translate(0, 0); }
}
#bake {
  animation: 0.8s bounce infinite alternate ease;
}
@keyframes bounce {
  0% { transform: translate(0, 0); }
  100% { transform: translate(0, -10px); }
}

#text {
  animation: typing 4s  infinite alternate ease ;
  
}
@keyframes typing {
  0% { transform: translate(0, 40px); }
  100% { transform: translate(0, -40px); }
}

#Paint {
  animation: 2s move-side infinite ease;
}
@keyframes move-side {
  0% { transform: translate(0, 0); }
  50% { transform: translate(-6px, -6px); }
  100% { transform: translate(0, 0); }
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  .title {
    width: auto;
    float: left;
    margin-top: 4px;
  }
.container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

.container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

[class*="col-lg-"] {
  float: left;
  padding: 20px;
}
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}


/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}

